/* Reset default margin and padding */
body, ul, li, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

button {
    text-decoration: none;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
    font: inherit;
}

button:hover {
    color: #666;
}

/* Update file name style */
.file-name {
    font-weight: bold;
    font-size: 16px;
    color: #1e90ff; /* Change to your preferred color */
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

video {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
